<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/Content/Style/site.css"/>
    <title>EPiServer Azure test site</title>
</head>
<body>
<div class="content">
    @RenderBody()
</div>
</body>
</html>