@model EPiServer_AzureTest.Models.ViewModels.StartPageViewModel

<h1>@Model.CurrentPage.PageName</h1>
<p>@Model.CurrentPage.WelcomeMessage</p>
<p>@Model.CSharpVersion</p>
<p>The square root of 25 is @Model.SquareRoot</p>
<img src="~/Content/Images/peter_griffin.gif"/>
